<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="server.domain.order.mapper.OrderMapper">

    <!-- Result Mapping with Enum TypeHandler -->
    <resultMap id="OrderResultMap" type="server.domain.order.domain.Order">
        <id property="idx" column="idx" />
        <result property="marketIdx" column="market_idx" />
        <result property="name" column="name" />
        <result property="totalPrice" column="total_price" />
        <result property="taxFreePrice" column="tax_free_price" />
        <result property="vatPrice" column="vat_price" />
        <result property="tableNumber" column="table_number" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <!-- save Order -->
    <insert id="save" parameterType="server.domain.order.domain.Order">
        INSERT INTO `Order` (market_idx, name, total_price, tax_free_price, vat_price, table_number)
        VALUES (#{marketIdx}, #{name}, #{totalPrice}, #{taxFreePrice}, #{vatPrice}, #{tableNumber})
    </insert>

    <!-- Select Order by ID -->
    <select id="findByOrderIdx" parameterType="Long" resultMap="OrderResultMap">
        SELECT *
        FROM `Order`
        WHERE idx = #{idx}
    </select>

    <!-- Select Order by MarketIdx -->
    <select id="findAllByMarketIdx" parameterType="Long" resultMap="OrderResultMap">
        SELECT *
        FROM `Order`
        WHERE market_idx = #{marketIdx}
    </select>

    <!-- Select By Name and MarketIdx-->
    <select id="findByNameAndMarketIdx" parameterType="map" resultMap="OrderResultMap">
        SELECT *
        FROM `Order`
        WHERE name = #{name} AND market_idx = #{marketIdx}
    </select>

    <!-- update Order Price -->
    <update id="updatePrice" parameterType="server.domain.order.domain.Order">
        UPDATE `Order`
        SET total_price = #{totalPrice}, tax_free_price = #{taxFreePrice}, vat_price = #{vatPrice}
        WHERE idx = #{idx}
    </update>




</mapper>