<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="server.domain.order.mapper.OrderMapper">

    <!-- Result Mapping with Enum TypeHandler -->
    <resultMap id="MarketResultMap" type="server.domain.market.domain.Order">
        <id property="idx" column="idx" />
        <result property="marketIdx" column="market_idx" />
        <result property="name" column="name" />
        <result property="memberCnt" column="member_cnt" />
        <result property="amount" column="amount" />
        <result property="taxFreeAmount" column="tax_free_amount" />
        <result property="vatAmount" column="vat_amount" />
        <result property="orderMemberIdx" column="order_member_idx" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <!-- save Order -->
    <insert id="save" parameterType="server.domain.order.domain.Order">
        INSERT INTO Order (
            market_idx, name, member_cnt, amount, tax_free_amount, vat_amount, order_member_idx, created_at
        ) VALUES (
            #{marketIdx}, #{name}, #{memberCnt}, #{amount}, #{taxFreeAmount}, #{vatAmount}, #{orderMemberIdx}, #{createdAt}
        )
    </insert>

    <!-- Select Order by ID -->
    <select id="findByOrderIdx" parameterType="Long" resultMap="OrderResultMap">
        SELECT *
        FROM Order
        WHERE idx = #{idx}
    </select>

    <!-- Select Order by MarketIdx -->
    <select id="findAllByMarketIdx" parameterType="Long" resultMap="OrderResultMap">
        SELECT *
        FROM Order
        WHERE market_idx = #{marketIdx}
    </select>

    <!-- Select Order by OrderMemberIdx -->
    <select id="findAllByOrderMemberIdx" parameterType="Long" resultMap="OrderResultMap">
        SELECT *
        FROM Order
        WHERE order_member_idx = #{orderMemberIdx}
    </select>



</mapper>