<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="server.domain.businessCard.mapper.MemberBusinessCardMapper">

    <!-- Result Mapping for MemberBusinessCard -->
    <resultMap id="MemberBusinessCardResultMap" type="server.domain.businessCard.domain.MemberBusinessCard">
        <id property="idx" column="idx" />
        <result property="memberIdx" column="member_idx" />
        <result property="businessCardIdx" column="businessCard_idx" />
        <result property="status" column="status" />
        <result property="memo" column="memo" />
    </resultMap>

    <!-- 회원 ID로 해당 회원의 명함 목록 조회 -->
    <select id="findByMemberIdx" resultMap="MemberBusinessCardResultMap">
        SELECT *
        FROM MemberBusinessCard
        WHERE member_idx = #{memberIdx}
    </select>

    <!-- 특정 명함 ID로 조회 -->
    <select id="findByBusinessCardIdx" resultMap="MemberBusinessCardResultMap">
        SELECT *
        FROM MemberBusinessCard
        WHERE businessCard_idx = #{businessCardIdx}
    </select>


    <!-- 명함 등록 -->
    <insert id="save" parameterType="server.domain.businessCard.domain.MemberBusinessCard" >
        INSERT INTO MemberBusinessCard (member_idx, businessCard_idx, status, memo)
        VALUES (#{memberIdx}, #{businessCardIdx}, #{status},NULLIF(#{memo}, null))
    </insert>

    <!-- 명함 삭제 -->
    <delete id="delete" parameterType="map">
        DELETE FROM MemberBusinessCard
        WHERE member_idx = #{memberIdx}
          AND  businessCard_idx = #{businessCardIdx}
    </delete>

    <!-- 명함 상태 업데이트 -->
    <update id="updateStatus">
        UPDATE MemberBusinessCard
        SET status = #{status}, memo = #{memo}
        WHERE idx = #{idx}
    </update>


    <select id="findByMemberIdxAndBusinessCardIdx" parameterType="map" resultMap="MemberBusinessCardResultMap">
        SELECT *
        FROM MemberBusinessCard
        WHERE member_idx = #{memberIdx}
          AND businessCard_idx = #{businessCardIdx}
    </select>
    <select id="findByFriendBusinessCardIdx" parameterType="map" resultMap="MemberBusinessCardResultMap">
        SELECT *
        FROM MemberBusinessCard mbc
        WHERE mbc.businessCard_idx = #{businessCardIdx}
          AND mbc.member_idx = #{memberIdx}
          AND mbc.status = 'NOT_OWNER';
    </select>
    <select id="findByMemberIdxAndStatus" resultMap="MemberBusinessCardResultMap">
        SELECT *
        FROM MemberBusinessCard
        WHERE member_idx = #{memberIdx}
          AND status = 'NOT_OWNER';
    </select>


</mapper>
