<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="server.domain.market.mapper.MarketMapper">

    <!-- Result Mapping with Enum TypeHandler -->
    <resultMap id="MarketResultMap" type="server.domain.market.domain.Market">
        <id property="idx" column="idx" />
        <result property="memberIdx" column="member_idx" />
        <result property="name" column="name" />
        <result property="address" column="address" />
        <result property="kakaoCid" column="kakao_cid" />
        <result property="maxTableCnt" column="maxTable_cnt" />
        <result column="created_at" property="createdAt" />
        <result column="modified_at" property="modifiedAt" />
    </resultMap>

    <!-- Select Market by ID -->
    <select id="findByMarketIdx" parameterType="Long" resultMap="MarketResultMap">
        SELECT *
        FROM Market
        WHERE idx = #{idx}
    </select>

    <!-- Select Market by MemberIdx -->
    <select id="findByMemberIdx" parameterType="Long" resultMap="MarketResultMap">
        SELECT *
        FROM Market
        WHERE member_idx = #{memberIdx}
    </select>

    <!-- Select All Market-->
    <select id="findAll" resultMap="MarketResultMap">
        SELECT *
        FROM Market
    </select>

    <!-- Select Market by memberId -->
    <select id="findByMemberId" parameterType="string" resultMap="MarketResultMap">
        SELECT *
        FROM Market
        WHERE member_idx = (SELECT idx FROM Member WHERE member_id = #{memberId})
    </select>



    <!-- insert Market -->
    <insert id="save" parameterType="server.domain.market.domain.Market">
        INSERT INTO Market (
            member_idx, name, address, kakao_cid, maxTable_cnt
        ) VALUES (
            #{memberIdx}, #{name}, #{address}, #{kakaoCid}, #{maxTableCnt}
                 )
    </insert>

</mapper>