<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="server.global.auth.security.mapper.UserDetailsMapper">

    <!-- Result Mapping with Enum TypeHandler -->
    <resultMap id="MemberResultMap" type="server.domain.member.domain.Member">
        <id property="idx" column="idx" />
        <result property="memberId" column="member_id" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="phoneNum" column="phone_num" />
        <!-- Role Enum mapping using the key field -->
        <result property="role" column="role"/>
        <result property="refreshToken" column="refresh_token" />
        <result property="createdAt" column="created_at" />
        <result property="modifiedAt" column="modified_at" />
        <result property="socialType" column="social_type" />
    </resultMap>

    <!-- Select Member by ID -->
    <select id="findByMemberId" parameterType="string" resultMap="MemberResultMap">
        SELECT *
        FROM Member
        WHERE member_id = #{memberId}
    </select>

</mapper>
